<h1>LA NO-RUEDA DE LA SI-DEPRESION</h1>
<div class="principal" [formGroup]="charForm">
  <div class="modos">
    <p-button label="Randomizar Modos" (click)="spin(spinTypeEnum.mode)"
      styleClass="p-button-raised  p-button-success"></p-button>


    <div id="app-modes">
      <div class="mode-doors">
        <div class="mode-door">
          <div class="mode-boxes">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="mapas">
    <p-dropdown formControlName="mapMode" [options]="modeEnumArray" optionLabel="corrected_name"
      optionValue="name"></p-dropdown>
    <p-button label="Randomizar Mapas" (click)="spin(spinTypeEnum.map)"
      styleClass="p-button-raised  p-button-success"></p-button>

    <div id="app-maps">
      <div class="map-doors">
        <div class="map-door">
          <div class="map-boxes">
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="personajes">
    <div class='controles'>
      <div class="p-float-label">
        <p-inputNumber formControlName="teamQty" id="teamQty" aria-describedby="teamQty-required"
          aria-describedby="teamQty-min"></p-inputNumber>
        <label htmlFor="teamQty">Cantidad de equipos</label>
        <small id="teamQty-required" class="p-error" *ngIf="charForm.get('teamQty')?.hasError('required')">
          Debe ingresar la cantidad de equipos
        </small>
        <small id="teamQty-min" class="p-error" *ngIf="charForm.get('teamQty')?.hasError('min')">
          La cantidad de equipos debe ser mayor a 0
        </small>
        <p-messages *ngIf="charForm.get('teamQty')?.hasError('required')" severity="error"></p-messages>
      </div>
      <div class="p-float-label">
        <p-inputNumber formControlName="memberQty" id="teamQty" aria-describedby="memberQty-required"
          aria-describedby="memberQty-min" aria-describedby="memberQty-max"></p-inputNumber>
        <label htmlFor="memberQty">Miembros por equipo</label>
        <small id="memberQty-required" class="p-error" *ngIf="charForm.get('memberQty')?.hasError('required')">
          Debe ingresar la cantidad de jugadores
        </small>
        <small id="memberQty-min" class="p-error" *ngIf="charForm.get('memberQty')?.hasError('min')">
          La cantidad de jugadores debe ser mayor a 0
        </small>
        <small id="teamQty-max" class="p-error" *ngIf="charForm.get('memberQty')?.hasError('max')">
          La cantidad de jugadores maximos es 8
        </small>
      </div>
      <p-dropdown formControlName="repeatMode" [options]="repeatEnumArray" optionLabel="name"
        optionValue="name"></p-dropdown>
    </div>

    <p-button label="Randomizar Personajes" (click)="spin(spinTypeEnum.char)"
      styleClass="p-button-raised  p-button-success"></p-button>

    <div id="app-chars">
      <div class="char-doors" [attr.data]="team.teamNum" *ngFor="let team of teams">
        <label class="team-name">Equipo {{team.teamNum+1}}°</label>
        <div class="char-door" [attr.data]="character.name" *ngFor="let character of team.chars">
          <div class="char-boxes">
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<pre style="text-align: center;">leandro se la come</pre>