@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

:root {
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-image: url('./assets/Lobby.png');
}

h1 {
    text-align: center;
}

.principal {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-evenly;
    margin-top: 100px;
}

.personajes {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.mapas {
    display: flex;
    flex-direction: column;
    align-items: center;

    p-dropdown {
        margin-bottom: 20px;

        .p-dropdown {
            max-width: 300px;
            min-width: 300px;
        }
    }
}

.modos {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.controles {
    display: flex;
    margin-bottom: 20px;

    .p-float-label {
        max-width: 200px;
        min-width: 200px;

        label {
            top: 35%;
        }
    }

    .p-float-label,
    p-dropdown {
        margin-left: 20px;
    }

    .p-dropdown {
        max-width: 250px;
        min-width: 250px;
    }
}

small {
    color: #e24c4c;
}

.personajes .controles {
    margin-left: 20px;

    .mdc-text-field {
        background-color: gainsboro;
    }
}

#app-chars,
#app-maps,
#app-modes {
    margin-top: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#app-maps,
#app-modes {
    justify-content: flex-start;
}

.char-doors,
.map-doors,
.mode-doors {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
}

.team-name {
    width: 100%;
    color: black;
    text-align: center;
    font-weight: bolder;
}

.char-door,
.map-door,
.mode-door {
    background: gainsboro;
    width: 140px;
    height: 150px;
    overflow: hidden;
    border-radius: 5px;
    margin: 5px;
    box-shadow: 0 1px 5px 0 black;
}

.map-door {
    width: 370px;
    height: 380px;
}

.mode-door {
    width: 250px;
    height: 260px;
}

.char-boxes,
.map-boxes,
.mode-boxes {
    transition: transform 1s ease-in-out;
}

.char-box,
.map-box,
.mode-box {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3rem;
    flex-wrap: wrap;
}

.char-name {
    font-size: large;
}